@model HastaneRandevuSistemiii.Models.Poliklinik

@{
    ViewData["Title"] = "Yeni Poliklinik Oluştur";
}

<div class="container">
    <h1 class="text-center mt-4 mb-4">@ViewData["Title"]</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="PoliklinikAdi" class="form-label">Poliklinik Adı</label>
                    <input asp-for="PoliklinikAdi" class="form-control" />
                    <span asp-validation-for="PoliklinikAdi" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HastaneId" class="form-label">Hastane</label>
                    @Html.DropDownList("HastaneId", ViewBag.Hastanes as SelectList, new { @class = "form-control" })
                    <span asp-validation-for="HastaneId" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Oluştur</button>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Index">Poliklinik Listesine Dön</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}