@model HastaneRandevuSistemiii.Models.Poliklinik

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Poliklinik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliklinikAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliklinikAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hastane.HastaneAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hastane.HastaneAdi)
        </dd>
    </dl>
    
   <form asp-action="Delete" onsubmit="return confirm('Hastaneyi silmek istediğinize emin misiniz?')">
        <input type="hidden" asp-for="PoliklinikId" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </form>
</div>
