@model HastaneRandevuSistemiii.Models.Hastane

@{
	ViewData["Title"] = "Yeni Hastane Oluştur";
}
<link rel="stylesheet" href="~/css/create.css" />

<div class="container">
	<h1 class="text-center mt-4 mb-4">@ViewData["Title"]</h1>

	<div class="row justify-content-center">
		<div class="col-md-6 ">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="HastaneAdi" class="control-label"></label>
					<input asp-for="HastaneAdi" class="form-control" />
					<span asp-validation-for="HastaneAdi" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="HastaneTel" class="control-label"></label>
					<input asp-for="HastaneTel" class="form-control" />
					<span asp-validation-for="HastaneTel" class="text-danger"></span>
				</div>
				 <div class="form-group">
				<label asp-for="HastaneAddress" class="control-label"></label>
				<input asp-for="HastaneAddress" class="form-control" />
				<span asp-validation-for="HastaneAddress" class="text-danger"></span>
			</div>
				<div class="form-group">
					<input type="submit" value="Ekle" class="btn btn-primary mt-4" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Hastane Listesine Dön</a>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
