@model HastaneRandevuSistemiii.Models.Doktor


<style>
	body {
		font-family: 'Helvetica', 'Arial', sans-serif;
	}

	.container {
		max-width: 500px;
		margin: 0 auto;
	}

	h1 {
		text-align: center;
		font-size: 24px;
		margin-bottom: 30px;
	}

	.form-group {
		margin-bottom: 15px;
	}

	label {
		display: block;
		margin-bottom: 5px;
	}

	input, select {
		width: 100%;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.btn-primary {
		border-radius: 5px;
		background-color: #428bca;
		color: white;
		padding: 5px 10px;
		text-decoration: none;
	}

		.btn-primary:hover {
			background-color: #337ab7;
		}
</style>


<div class="container">
  <h1>Yeni Doktor Ekle</h1>
  <form asp-action="Create" method="post">
    <div class="form-group">
      <label asp-for="DoktorAdi" class="control-label">Doktor Adı</label>
      <input asp-for="DoktorAdi" class="form-control" />
      <span asp-validation-for="DoktorAdi" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="DoktorSoyadi" class="control-label">Doktor Soyadı</label>
      <input asp-for="DoktorSoyadi" class="form-control" />
      <span asp-validation-for="DoktorSoyadi" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Poliklinik.HastaneId" class="control-label">Hastane</label>
      <select asp-for="Poliklinik.HastaneId" class="form-control" asp-items="ViewBag.Hastanes" onchange="GetPoliklinikler(this.value)"></select>
      <span asp-validation-for="Poliklinik.HastaneId" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="PoliklinikId" class="control-label">Poliklinik</label>
      <select asp-for="PoliklinikId" class="form-control" asp-items="ViewBag.Poliklinikler"></select>
      <span asp-validation-for="PoliklinikId" class="text-danger"></span>
    </div>
    <div class="form-group">
      <input type="submit" value="Ekle" class="btn btn-primary" />
    </div>
  </form>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		function GetPoliklinikler(hastaneId) {
			$.ajax({
				url: '@Url.Action("GetPoliklinikler", "Doktor")',
				data: { hastaneId: hastaneId },
				type: 'GET',
				success: function (poliklinikler) {
					$("#PoliklinikId").empty(); // Önceki seçenekleri temizle
					$("#PoliklinikId").append($('<option value="">Seçiniz</option>'));
					$.each(poliklinikler, function (index, poliklinik) {
						$("#PoliklinikId").append($('<option value="' + poliklinik.poliklinikId + '">' + poliklinik.poliklinikAdi + '</option>'));
					});
				},
				error: function (error) {
					console.error(error);
				}
			});
		}
	</script>
}
